.home2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1324px;
  gap: 1.25em;
  background-color: #f6f8f9;
}

.home2 h2 {
  width: 1183px;
  height: 96px;
  font-size: 2em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  outline: none;
}

.home2 h3 {
  font-size: 1.5em;
  margin: 0 0 8px 0;
}

.home2 p {
  font-size: 1.25em;
  color: #888;
  font-weight: 500;
  margin: 0 0 0 0;
}

.home2 header {
  width: 320px;
  height: 101.59px;
}
/* 화살표 */
.swiperLeft {
  width: 52px;
  padding-top: 85px;
}

.swiperLeft img {
  width: 25px;
  height: 25px;
  right: 10px;
  cursor: pointer;
}

.swiperRight {
  width: 52px;
  padding-top: 85px;
  margin-left: 20px;
}

.swiperRight img {
  width: 25px;
  height: 25px;
  right: 10px;
  cursor: pointer;
}

.home2_1 {
  position: relative;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 1063px;
  height: 250px;
  background-color: #ffffff;
  padding: min(3em, 13.3333333333vw) min(3.75em, 16.6666666666vw);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.06);
  border-radius: 1em;
}

.home2_1_info {
  display: flex;
  position: absolute;
  left: 400px;
}

.home2_1_card {
  width: 639px;
  height: 240px;
  display: flex;
  overflow: hidden;
}

.home2_1_card.animated {
  transition: 0.5s ease-out;
}

.card1_1_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7f2f1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card1_1_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}

.card1_2_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card1_2_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}

.card1_3_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6eafc;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card1_3_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}

.card1_4_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0eff4;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card1_4_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}

.card1_5_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f7ff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card1_5_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}

.cardName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home2_2 {
  position: relative;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 1063px;
  height: 250px;
  background-color: #ffffff;
  padding: min(3em, 13.3333333333vw) min(3.75em, 16.6666666666vw);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.06);
  border-radius: 1em;
}

.home2_2_info {
  display: flex;
  position: absolute;
  left: 400px;
}

.home2_2_card {
  width: 639px;
  height: 240px;
  display: flex;
  overflow: hidden;
}

.card2_1_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0fff6;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card2_1_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}

.card2_2_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef5ff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card2_2_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}

.card2_3_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card2_3_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}

.card2_4_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f7ff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card2_4_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}

.card2_5_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7f2f1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card2_5_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}

.home2_3 {
  position: relative;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 1063px;
  height: 250px;
  background-color: #ffffff;
  padding: min(3em, 13.3333333333vw) min(3.75em, 16.6666666666vw);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.06);
  border-radius: 1em;
}

.home2_3_info {
  display: flex;
  position: absolute;
  left: 400px;
}

.home2_3_card {
  width: 639px;
  height: 240px;
  display: flex;
  overflow: hidden;
}

.card3_1_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdeefc;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card3_1_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}

.card3_2_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeecfb;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card3_2_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}

.card3_3_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff6ee;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card3_3_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}

.card3_4_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffaf1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card3_4_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}

.card3_5_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff6ee;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card3_5_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}

.card3_6_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0eff4;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.card3_6_img img {
  width: 80px;
  height: 115px;
  padding: 40px, 40px, 40px, 40px;
}
