.Modal {
  position: fixed;
}
.ListLine_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #edeff4;
  background-color: white;
  z-index: 1010;
}

.ListLine_Index {
  background-color: white;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-content: center;
  box-sizing: border-box;
  width: 916px;
  height: 356px;
  margin: auto;
  padding-left: 17px;
}

.ListLine_Index a {
  color: inherit; /* 텍스트 색상을 부모 요소의 색상과 동일하게 설정 */
  text-decoration: none; /* 밑줄 제거 */
}

.ListLine_Index a:hover,
a:focus,
a:active {
  color: inherit; /* 호버, 포커스, 액티브 상태에서도 색상 변경 없음 */
  text-decoration: none; /* 호버, 포커스, 액티브 상태에서도 밑줄 제거 */
}

.ListLine {
  box-sizing: border-box;
  width: 146px;
  border-right: 1px solid #edeff4;

  position: relative;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}
.ListLine:first-child {
  border-left: 1px solid #edeff4;
}
.ListLine a {
  padding-left: 15px;
}
.MainIndex {
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0px 10px 0px;
  margin-top: 15px;
}
.MainIndex:hover {
  background-color: #ffeee5;
  cursor: pointer;
}
.SubIndex {
  line-height: 24px;
  font-size: 13px;
  color: gray;
  font-weight: 500;
  margin-top: 10px;
}
