.Navbar_Modal {
  margin: auto;
  background-color: white;
  border-bottom: 0.1em solid #edeff4;
  z-index: 1000;
}
.ListLine_container {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-right: 12%;
}
.ListLine {
  width: 9vw;
  height: 42vh;
  border-right: 0.1em solid #edeff4;
  border-left: 0.1em solid #edeff4;
  position: relative;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}
.ListLine_group {
  padding-top: 10%;
}

.ListLine_group_menu {
  margin-bottom: 5%;
}

.MainIndex {
  padding: 10% 6% 10% 10%;
  line-height: 24px;
  font-size: 1em;
  font-weight: 600;
}
.MainIndex:hover {
  background-color: #ffeee5;
  cursor: pointer;
}
.SubIndex {
  padding: 5% 3% 3% 10%;
  line-height: 24px;
  font-size: 0.9em;
  color: gray;
  font-weight: 500;
}

.ListLine a {
  color: inherit; /* 텍스트 색상을 부모 요소의 색상과 동일하게 설정 */
  text-decoration: none; /* 밑줄 제거 */
}

.ListLine a:hover,
a:focus,
a:active {
  color: inherit; /* 호버, 포커스, 액티브 상태에서도 색상 변경 없음 */
  text-decoration: none; /* 호버, 포커스, 액티브 상태에서도 밑줄 제거 */
}
