@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.Navbar_menu {
  height: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-bottom: 0.1em solid #edeff4;
  margin: 0px;
}
.Navbar-01 {
  margin-right: 5%;
}
.Navbar-02 {
  margin-right: 18%;
}

.Navbarbtn {
  justify-content: left;
  align-items: center;
  display: flex;
}
.BtnBox-a {
  padding-left: 30px;
  padding-right: 30px;
  justify-content: left;
  align-items: center;
  display: flex;
  line-height: 24px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  font-weight: 700;
}

.BtnBox:hover {
  cursor: pointer;
}

.BtnBox:active {
  color: #fc5b00;
}

.Navbar-03 {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  font-size: 0.9em;
}
.Navbar-03 a {
  color: inherit; /* 텍스트 색상을 부모 요소의 색상과 동일하게 설정 */
  text-decoration: none; /* 밑줄 제거 */
}

.Navbar-03 a:hover,
a:focus,
a:active {
  color: inherit; /* 호버, 포커스, 액티브 상태에서도 색상 변경 없음 */
  text-decoration: none; /* 호버, 포커스, 액티브 상태에서도 밑줄 제거 */
}

.clickbox::after {
  content: "|";
  color: #edeff4;
  margin: 0.6em;
}

.clickbox:last-child:after {
  display: none;
}

.BtnBox-des {
  padding: 5px;
}

.Navbar_list {
  margin: auto;
  background-color: white;
  border-bottom: 0.1em solid #edeff4;
}
.ListLine_container {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-right: 13%;
}
.ListLine {
  width: 11%;
  height: 355px;
  border-right: 0.1em solid #edeff4;
  border-left: 0.1em solid #edeff4;
  position: relative;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}
.ListLine_group {
  padding-top: 10%;
}

.ListLine_group_menu {
  margin-bottom: 5%;
}

.MainIndex {
  padding: 10% 6% 10% 10%;
  line-height: 24px;
  font-size: 1em;
  font-weight: 600;
}
.MainIndex:hover {
  background-color: #ffeee5;
  cursor: pointer;
}
.SubIndex {
  padding: 5% 3% 3% 10%;
  line-height: 24px;
  font-size: 0.9em;
  color: gray;
  font-weight: 500;
}

.ListLine a {
  color: inherit; /* 텍스트 색상을 부모 요소의 색상과 동일하게 설정 */
  text-decoration: none; /* 밑줄 제거 */
}

.ListLine a:hover,
a:focus,
a:active {
  color: inherit; /* 호버, 포커스, 액티브 상태에서도 색상 변경 없음 */
  text-decoration: none; /* 호버, 포커스, 액티브 상태에서도 밑줄 제거 */
}
